/*
    colors: #337ab7, #5996bb, #0b5f92
*/

/* main container */
#jhr-page {
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    padding-bottom: 30px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* navbar */
.navbar {
    background-color: #fff;
    color: black;
}

.navbar-toggle {
    background-color: #5996bb;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #0b5f92;
}

.navbar-inverse {
    border-color: #5996bb;
}

    .navbar-inverse .navbar-brand {
        font-size: 24px;
        color: #337ab7;
    }

        .navbar-inverse .navbar-brand:hover {
            color: #0b5f92;
        }

    .navbar-inverse .navbar-nav > li > a {
        color: #337ab7;
        font-size: 15px;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #0b5f92;
        }


        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus {
            color: black;
        }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #337ab7;
    }

.dropdown-menu > li > a:hover {
    color: white;
    background-color: #5996bb;
}

.navbar-inverse .btn-link {
    color: black;
}

    .navbar-inverse .btn-link:hover {
        color: black;
        text-decoration: none;
    }

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #5996bb;
    background-color: transparent;
}

/* image section */
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: auto;
    display: inline-block;
    float: left;
    overflow: hidden;
}

.portfolio {
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
}

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    cursor: pointer;
}

.portfolio img {
    max-width: 100%;
    z-index: -1;
    position: relative;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px;
}

.portfolio .text-category {
    display: block;
    color: #fff;
    font-size: 16px;
    text-transform: normal;
}

.portfolio .label-bg {
    background: #A7CDCC;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* content */
.business-info-container{
    background-color: transparent;
    border: 0px;
}

span {
    margin: 0px;
}

.footer {
    margin-top: 5px;
    margin-bottom: -10px;
    color: #5996bb;
}

a {
    color: #A7CDCC;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.float-right {
    float: right;
}

hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid #337ab7;
}

.required {
    color: red;
}
/* contact us */
.contact-us-container {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: #31708f;
    background-color: whitesmoke;
}

/* font awesome icons */
a.edit-control {
    color: #377ab7;
}

    a.edit-control:hover {
        font-size: 16px;
    }

/* Toastr Message */
#toast-container .toast {
    opacity: 1;
}

/* Table */
.hrm-table {
    border: 2px solid;
}

.table-hover > tbody > tr:hover {
    background-color: #8dc4f3;
}

.dataTables_wrapper .bottom {
    padding-top: 10px;
}

/* sweetalert */
.swal2-container.swal2-shown .swal2-popup {
    font-size: 1em;
}

/* tab */
.tab-content {
    padding-top: 10px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #337ab7;
    background-color: lightgray;
}

