@{ 
	Layout = "~/views/shared/_HouseLayout.cshtml";
}

@model HouseRentalManagement.Models.AccountViewModels.AccessCodeViewModel
<div class="container">
	<div class="row">
		<div class="col-md-4">			
			<section>
				<h4>Enter Access Code To Proceed</h4>
				<form asp-action="AccessCode" asp-controller="Account" method="post">
					<hr />
					<div class="form-group">
						<label asp-for="AccessCode"></label>
						<input asp-for="AccessCode" class="form-control" />
						<span asp-validation-for="AccessCode" class="text-danger"></span>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default">Enter</button>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>