#carousel-container {
    padding-right: 0px;
    padding-left: 0px;
}

#featured-image-carousel img {
    max-height: 450px;
    width: 100%;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
    max-height: 500px;
    width: 100%;
}

.carousel-control{
    width: 5%;
}

.carousel-caption {
    background-color: white;
    color: #5996bb;
    border-radius: 10px;
    padding-bottom: 00px;
    opacity: 0.9;
    /*max-height: 400px;*/
    max-height: 70%;
    overflow-y: auto;
    text-shadow: none;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
        color: #727272;
    }

@media screen and (max-width: 800px) {
    .carousel-caption {
        display: inline-block;
        /*max-height: 300px;*/
    }

        .carousel-caption p {
            font-size: 16px;
        }
}

@media screen and (max-width: 650px) {
    .carousel-caption {
        display: inline-block;
        /*max-height: 200px;*/
    }

        .carousel-caption p {
            font-size: 14px;
        }
}

@media screen and (max-width: 450px) {
    .carousel-caption {
        display: inline-block;
        /*max-height: 100px;*/
    }

        .carousel-caption p {
            font-size: 12px;
        }
}