#jhr-page {
    /*background: url("../../images/testimages/_IGP0542.jpg");*/
    background-color: white;
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jhr-portfolio-section {
    padding-bottom: 1em;
}

#portfoliolist {
    margin: auto;
    position: relative;
}

.portfolio .label-text label {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
}

.portfolio .label {
    position: absolute;
    width: 100%;
    height: 85px;
    bottom: 0px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio:hover .label {
    bottom: -85px;
}

.house-info {
    margin-top: 20px;
    margin-left: 5%;
    text-align: left;
    vertical-align: baseline;
    color: black;
}

.house-title {
    font-size: 17px;
    text-transform: capitalize;
    font-weight: normal;
}

    .house-title label {
        font-size: 24px;
        text-transform: capitalize;
        font-weight: normal;
    }

.rent-amount {
    color: black;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
}

.facility-container {
    margin-top: 10px;
}

    .facility-container .facility-label {
        text-transform: capitalize;
    }

        .facility-container .facility-label::before {
            content: ", ";
        }

    .facility-container img {
        height: 25px;
        width: 25px;
        margin-bottom: 5px;
    }

#house-location {
    width: 100%;
    height: 250px;
    border: 3px inset #5996bb;
    border-radius: 20px;
    display: none;
}

#contact-info-container {
    border-radius: 10px;
    background-color: #b2d2f6;
    padding: 10px;
}

    #contact-info-container a {
        text-decoration: none;
    }

.icons {
    height: 30px;
    width: 30px;
}

#house-images-container {
    padding: 0 4%;
}

    #house-images-container .image img {
        max-height: 150px;
        max-width: 150px;
        padding: 0 5px;
    }

.slick-custom-nav {
    position: absolute;
    z-index: 999;
    color: #5996bb;
    cursor: pointer;
    font-size: 2rem;
}

.slick-left-container {
    height: 100%;
    left: 0;
    opacity: 0.5;
}

    .slick-left-container:hover {
        opacity: 1.0;
    }

    .slick-left-container .slick-custom-left {
        top: 40%;
        left: 0%;
        position: absolute;
    }

.slick-right-container {
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0.5;
}

    .slick-right-container:hover {
        opacity: 1.0;
    }

    .slick-right-container .slick-custom-right {
        top: 40%;
        right: 0%;
        position: absolute;
    }
