@model HouseRentalManagement.Models.AdminViewModels.AddHouseImageViewModel


<div class="row">
	<div class="col-md-4">
		<form asp-action="AddHouseImage" asp-controller="Admin" method="post" enctype="multipart/form-data" id="upload-image-form">
			<input asp-for="HouseId" />
			<div class="row">
				<div class="col-md-12">
					<h4>Upload photo for this house</h4>
					<input asp-for="Image" class="house-image-uploader" />
					<span asp-validation-for="Image" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label><input asp-for="IsHomePageImage" /> Use this as home page image?</label>
				</div>
			</div>
			<div class="row mt-10">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary" id="upload-image-button">
						Upload
						<i class="fa fa-spinner fa-spin" id="upload-spinner" style="display: none;"></i>
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-8">
		<div id="house-image-list-partial-container">
			<h4>Loading Images <i class="fa fa-spinner fa-spin"></i></h4>
		</div>
	</div>
</div>