@{
	Layout = "~/views/shared/_HouseLayout.cshtml";
}
@model HouseRentalManagement.Models.AdminViewModels.FeaturedPhotosViewModel

@section Styles{
	<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
	<link href="~/lib/dropify/css/dropify.css" rel="stylesheet" />
}

<div class="container">
	<h3>Featured Photos</h3>
	<div class="row">
		<div class="col-md-4">
			<form asp-action="FeaturedPhotos" asp-controller="Admin" method="post" enctype="multipart/form-data" id="upload-featured-photo-form">
				<div class="row">
					<div class="col-md-12">
						<h4>Upload Featured Photo</h4>
						<input asp-for="Image" class="featured-photo-uploader" />
						<span asp-validation-for="Image" class="text-danger"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label>
							<input asp-for="ToDisplay" checked />
							<label asp-for="ToDisplay"></label> <span data-toggle="tooltip" title="Image will be displayed on main page of the website"><i class="fa fa-info-circle"></i></span>
						</label>
					</div>
				</div>
				<div class="row mt-10">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary" id="upload-photo-button">
							Upload
							<i class="fa fa-spinner fa-spin" id="upload-spinner" style="display: none;"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-8">
			<div id="featured-photo-preview-container">
				<h4>Preview</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr />
			<div id="featured-photo-list-partial-container">
				<h4>Loading Photos <i class="fa fa-spinner fa-spin"></i></h4>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	@await Html.PartialAsync("_ValidationScriptsPartial")
	<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="~/lib/dropify/js/dropify.js"></script>
	<script src="~/lib/sweetalert/sweetalert2.js"></script>
	<script src="~/js/pages/admin-featuredphotos.js"></script>
	<script>
		$(document).ready(function () {
			var model = {};
			Hrm.AdminFeaturedPhotos.init(model);
		});
	</script>
}
