@model HouseRentalManagement.Models.AdminViewModels.ListHouseViewModel;

@{
    Layout = "~/views/shared/_HouseLayout.cshtml";
}

@section Styles{
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/lib/datatable/datatables.css" rel="stylesheet" />
}

<div class="container mt-2">
    <div class="row">
        <div class="col-md-8">
            <table id="house-list-table" class="table table-responsive">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Rent</th>
                        <th style="width: 25px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Houses != null)
                    {
                        foreach (var house in Model.Houses)
                        {
                            <tr>
                                <td>@house.Address</td>
                                <td>@house.Rent.ToString("C")</td>
                                <td><a asp-controller="Admin" asp-action="EditHouse" asp-route-id="@house.HouseId" class="edit-control"><i class="fa fa-pencil"></i></a></td>
                            </tr>
                        }
                    }
                    @*<tr>
                        <td>123 Main Street</td>
                        <td><a href="javascript:void(0)"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                    <tr>
                        <td>456 Main Street</td>
                        <td><a href="javascript:void(0)"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                    <tr>
                        <td>368 Dunsmore Ln</td>
                        <td><a href="javascript:void(0)"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                    <tr>
                        <td>11 College Cr</td>
                        <td><a href="javascript:void(0)"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                    <tr>
                        <td>Some other house</td>
                        <td><a href="javascript:void(0)"><i class="fa fa-pencil"></i></a></td>
                    </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatable/datatables.js"></script>
    <script src="~/js/pages/admin-houses.js"></script>
    <script>
        $(document).ready(function () {
            var adminHousesModel = {};
            Hrm.AdminHouses.init(adminHousesModel);
        });
    </script>
}