@{
	Layout = "_HouseLayout";
}

@section Styles{
<link href="~/css/pages/error-index.css" rel="stylesheet" />
}

<div class="container">
	<div class="row mt-10">
		<div class="col-md-12 text-center">
			<img class="error-image" src="~/images/404.png" />
			<p class="error-message">
				Sorry, We couldn't find the information you are looking for. 
				Please fill out the <a href="/#contact-us">Contact form</a>, and we will get back to you soon.
				Thank you.
			</p>
		</div>
	</div>
</div>